.article {

    header {
        position: relative;
        background: #000000;

        img {
            width: 100%;
            object-fit: cover;
            object-position: center;
            height: 400px;
            opacity: .5;
        }

        h1 {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            display: flex;
            font-size: 4rem;
            justify-content: center;
        }
    }
}

.article--text {
    width: 90%;
    max-width: 900px;
    margin: 60px auto;
    font-size: 1.5rem;
    line-height: 1.3;
}
